@import '../../styles/variables.scss';

.Section-one {
  height: 100%;
  width: 100%;
  position: relative;
  // display: flex;
  // justify-content: center;
}

.HomePage-dot {
  color: #00bd7e;
}

.Section-one h1 {
  margin-top: 20vh;
  font-size: 100px;
  z-index: 1000;
  position: absolute;
  width: 100vw;
}

.Section-one-fullBg {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.Homepage-bg {
  letter-spacing: 1.4;
  background-color: #00bd7e;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Homepage-left {
  left: 0;
  text-align: left;
}

.Homepage-right {
  right: 0;
  text-align: right;
}


.Homepage-japan {
  // position: absolute;
  // top: 40%;
  // right: 40px;
}

.Homepage-vancouver-title {
  display: inline-flex;
  align-items: center;

  img {
    margin-left: 1rem;
    width: 20px;
    height: 20px;
  }
}

.Homepage-japan, .Homepage-vancouver {
  h2 {
    color: $brandcolor-2;
    font-family: 'Kaushan Script', cursive;
    font-size: 28px;
  }

  p {
    color: white;
  }
}