
.Section-one {
  height: 100%;
  width: 100%;
  position: relative;
  // display: flex;
  // justify-content: center;
}

.HomePage-dot {
  color: #00bd7e;
}

.Section-one h1 {
  margin-top: 20vh;
  font-size: 100px;
}

.Section-one-fullBg {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.Section-one-bg {
    background-color: #00bd7e;
    width: 50%;
    height: 100%;
}
