@import '../../styles/breakpoint.scss';

.Container {
  margin: 0 auto;
  max-width: 1480px;
}

.Container--lg {
  padding: 0 1.2rem;
    
  @include break(sm) {
    padding: 0 40px;
  };
}

.Container--sm {
  padding: 0 1.2rem;
    
  @include break(sm) {
    padding: 0 100px;
  };
}