@import './fonts.scss';
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import './animations.scss';

:root {
  font-family: 'montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1c1b20;
  letter-spacing: 1px;
}

h1 {
  font-weight: 600;
}

h2 {
  margin: 0;
}

p {
  font-weight: 300;
  letter-spacing: 0.8px;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  font-size: 16px;
  font-family: 'montserrat', sans-serif;
  background-color: none;
  border: none;
  font-weight: 300;
}

// .slideUp {
//   @include slideUp;
// }

.GreenLink {
  transition: 0.4s ease;
  cursor: pointer;
  color: #00bd7e;

  &:hover {
    background-color: #00bd7e;
    color: white;
  }
}

