.section-one {
    background-color: #FAAF08;
    height: 100vh;
}

.section-two {
  background-color: #FA802F;
  height: 100vh;
}

.section-three {
  background-color: #FA4033;
  height: 100vh;
}

.section-all {
  background-color: #FEF2E2;
}