.Page {
  margin: 40px;
  overflow: hidden;
}

.Section-container {
  border: 1px solid white;
  height: calc(100vh - 80px);
  background-color: #f8f8f8;
}

.section-two {
  background-color: #FA802F;
  height: 100%;
}

.section-three {
  background-color: #FA4033;
  height: 100%;
}

.section-four {
  background-color: blue;
  height: 100%;
}

// .section-all {
//   background-color: #FEF2E2;
// }